.pincode-lookup {
  padding: 44px;
}
input {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  letter-spacing: 2px;
}
button {
  padding: 12px 22px;
  margin: 22px 0px;
  background-color: black;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
.container {
  width: fit-content;

  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 12px;
}
.box {
  border: 1px solid;
  padding: 12px;
  border-radius: 5px;
  margin: 5px;
}
.error {
  color: red;
}
